<div class="title">
  <h1>LISTA DE EVOLUCIONES</h1>
</div>

<div class="content">
  <div class="matrix">
    <div class="card" *ngFor="let pokemon of listaPokemons">
      <img src="{{ pokemon.imagen }}" class="img" />
      <div class="container">
        <h4>
          <b>{{ pokemon.name }}</b>
        </h4>
        <div class="options">
          <button class="btnDetalles" (click)="abrirDetalles(pokemon)">
            Detalles
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="siguiente">
  <button class="btnDetalles" (click)="siguienteEvolucion()">Siguente</button>
</div>
